<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>HomeWorker</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href="css/freelancer.min.css" rel="stylesheet">
    <link href="css/style2.css" rel="stylesheet">

  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">HomeWorker</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">

            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#portfolio">Profissionais</a>
            </li>

            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="maps.html#sobre">Mapa</a>
            </li>

            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#Contato">Cadastro</a>
            </li>

            <li class="nav-item">
                <div class="dropdown">
                  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">LOGIN
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" id="login-dropdown">  
                    <div class="control-group">
                      <li class="dropdown-header">Email
                      </li>
                      <input class="form-control" id="email" type="email" placeholder="Email" required data-validation-required-message="Por favor entre com seu email.">
                      <p class="help-block text-danger">
                      </p>                      
                      <li class="dropdown-header">Senha
                      </li>
                      <input class="form-control" id="phone" type="password" placeholder="Senha" required data-validation-required-message="Por favor entre com sua senha.">
                      <p class="help-block text-danger">
                      </p>
                  </ul>
                </div>
              </li>
          </ul>       
        </div>
      </div>
    </nav>

    <!-- Header -->
    <header class="masthead">
      <div class="container">
        <img class="img-fluid" src="img/profile.png" alt="">
        <div class="intro-text">
          <span class="name">HomeWorker</span>
          <hr class="star-light">
          <span class="skills">O Profisional para sua casa!</span>
        </div>
      </div>
    </header>

    <!-- Portfolio Grid Section -->
    <section id="portfolio">
      <div class="container">
        <h2 class="text-center">Profissionais</h2>
        <hr class="star-primary">
        <div class="row">
          <div class="col-sm-4 portfolio-item">
            <a class="portfolio-link" href="#portfolioModal1" data-toggle="modal">
              <div class="caption">
                <div class="caption-content">
                  <i class="fa fa-search-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="img/portfolio/cabin.png" alt="">
            </a>
          </div>
          <div class="col-sm-4 portfolio-item">
            <a class="portfolio-link" href="#portfolioModal2" data-toggle="modal">
              <div class="caption">
                <div class="caption-content">
                  <i class="fa fa-search-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="img/portfolio/cake.png" alt="">
            </a>
          </div>
          <div class="col-sm-4 portfolio-item">
            <a class="portfolio-link" href="#portfolioModal3" data-toggle="modal">
              <div class="caption">
                <div class="caption-content">
                  <i class="fa fa-search-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="img/portfolio/circus.png" alt="">
            </a>
          </div>
          <div class="col-sm-4 portfolio-item">
            <a class="portfolio-link" href="#portfolioModal4" data-toggle="modal">
              <div class="caption">
                <div class="caption-content">
                  <i class="fa fa-search-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="img/portfolio/game.png" alt="">
            </a>
          </div>
          <div class="col-sm-4 portfolio-item">
            <a class="portfolio-link" href="#portfolioModal5" data-toggle="modal">
              <div class="caption">
                <div class="caption-content">
                  <i class="fa fa-search-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="img/portfolio/safe.png" alt="">
            </a>
          </div>
          <div class="col-sm-4 portfolio-item">
            <a class="portfolio-link" href="#portfolioModal6" data-toggle="modal">
              <div class="caption">
                <div class="caption-content">
                  <i class="fa fa-search-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="img/portfolio/submarine.png" alt="">
            </a>
          </div>
        </div>
      </div>
    </section>

    <!-- Sobre Section
    <section class="success" id="Sobre">
      <div class="container">
        <h2 class="text-center">Sobre</h2>
        <hr class="star-light">
        <div class="row">
          <div class="col-lg-4 ml-auto">
            <p>Freelancer is a free bootstrap theme created by Start Bootstrap. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional LESS stylesheets for easy customization.</p>
          </div>
          <div class="col-lg-4 mr-auto">
            <p>Whether you're a student looking to showcase your work, a professional looking to attract clients, or a graphic artist looking to share your projects, this template is the perfect starting point!</p>
          </div>
          <div class="col-lg-8 mx-auto text-center">
            <a href="#" class="btn btn-lg btn-outline">
              <i class="fa fa-download"></i>
              Download Theme
            </a>
          </div>
        </div>
      </div>
    </section> -->

    <!-- Contato Section  -->
    <section id="Contato">
      <div class="container">
        <h2 class="text-center">Cadastre-se</h2>
        <hr class="star-primary">
        <div class="row"> 
          <div class="col-lg-8 mx-auto"> 
            <!-- To configure the Contato form email address, go to mail/Contato_me.php and update the email address in the PHP file on line 19. -->
            <!-- The form should work on most web servers, but if the form is not working you may need to configure your web server differently. -->

            <div id="div-botoes">
              <button onclick="ativaFormClient();">Cliente</button>
              <button onclick="ativaFormProf();">Profissional</button>
            </div>

            <div id="form-client" style="display: none;">
              <form name="sentMessage" id="ContatoForm" onsubmit="return validaCadastroClient();" novalidate>
              <div class="control-group">
                <div class="form-group floating-label-form-group controls">
                  <label>Nome</label>
                  <input class="form-control" id="cnome" type="text" placeholder="Nome" required data-validation-required-message="Por favor digite seu nome.">
                  <p class="help-block text-danger"></p>
                </div>
              </div>
              <div class="control-group">
                  <div class="form-group floating-label-form-group controls">
                    <label>Sobrenome</label>
                    <input class="form-control" id="csobrenome" type="text" placeholder="Sobrenome" required data-validation-required-message="Por favor digite seu sobrenome.">
                    <p class="help-block text-danger"></p>
                  </div>
                </div>
                <div class="control-group">
                    <div class="form-group floating-label-form-group controls">
                      <!--<label>Sexo: </label>-->
                      <!--<input class="form-control" id="sobrenome" type="text" placeholder="Sobrenome" required data-validation-required-message="Por favor digite seu sobrenome.">-->
                      <label class="sexo" for="cmasculino">Masculino</label><input type="radio" name="psexo" id="pmasculino" value="masculino" checked="checked" class="sexo">
                      <label class="sexo" for="cfeminino">Feminino</label><input type="radio" name="psexo" id="pfeminino" value="feminino" class="sexo">
                      <p class="help-block text-danger"></p>
                    </div>
                  </div>
              <div class="control-group">
                  <div class="form-group floating-label-form-group controls">
                    <label>Nascimento</label>
                    <input class="form-control" name="data" id="cdate" type="date" placeholder="Data" required data-validation-required-message="Por favor digite seu telefone.">
                    <p class="help-block text-danger"></p>
                  </div>
                </div>
              
              <div class="control-group">
                <div class="form-group floating-label-form-group controls">
                  <label>Email</label>
                  <input class="form-control" id="cemail" type="email" placeholder="Email" required data-validation-required-message="Por favor entre com um email.">
                  <p class="help-block text-danger"></p>
                </div>
              </div>
              <div class="control-group">
                <div class="form-group floating-label-form-group controls">
                  <label>Senha</label>
                  <input class="form-control" id="csenha" type="password" placeholder="Senha" required data-validation-required-message="Por favor entre com uma senha.">
                  <p class="help-block text-danger"></p>
                </div>
              </div>
              <div class="control-group">
                <div class="form-group floating-label-form-group controls">
                  <label>Confirme Senha</label>
                  <input class="form-control" id="cconfirm-senha" type="password" placeholder="Confirme a senha" required data-validation-required-message="Por favor confirme sua senha.">
                  <p class="help-block text-danger"></p>
                </div>
              </div>
              <br>
              <div id="success"></div>
              <div class="form-group">
                <button type="submit" class="btn btn-success btn-lg" id="sendMessageButton">Cadastrar</button>
              </div>
            </form>
            </div>

            <div id="form-prof" style="display: none;">
                <form name="sentMessage" id="ContatoForm" onsubmit="return validaCadastroProf();" novalidate>
                    <div class="control-group">
                      <div class="form-group floating-label-form-group controls">
                        <label>Nome</label>
                        <input class="form-control" id="pnome" type="text" placeholder="Nome" required data-validation-required-message="Por favor digite seu nome.">
                        <p class="help-block text-danger"></p>
                      </div>
                    </div>
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls">
                          <label>Sobrenome</label>
                          <input class="form-control" id="psobrenome" type="text" placeholder="Sobrenome" required data-validation-required-message="Por favor digite seu sobrenome.">
                          <p class="help-block text-danger"></p>
                        </div>
                      </div>
                      <div class="control-group">
                          <div class="form-group floating-label-form-group controls">
                            <!--<label>Sexo: </label>-->
                            <!--<input class="form-control" id="sobrenome" type="text" placeholder="Sobrenome" required data-validation-required-message="Por favor digite seu sobrenome.">-->
                            <label class="sexo" for="pmasculino">Masculino</label><input type="radio" name="psexo" id="pmasculino" value="masculino" checked="checked" class="sexo">
                            <label class="sexo" for="pfeminino">Feminino</label><input type="radio" name="psexo" id="pfeminino" value="feminino" class="sexo">
                            <p class="help-block text-danger"></p>
                          </div>
                        </div>
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls">
                          <label>Nascimento</label>
                          <input class="form-control" name="data" id="pdate" type="date" placeholder="Data" required data-validation-required-message="Por favor digite seu telefone.">
                          <p class="help-block text-danger"></p>
                        </div>
                      </div>
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls">
                          <label for="prof">Profissão</label>
                          
                          <select class="form-control" name="prof" id="prof">
                            <option value="">---Escolha a profissão exercida---</option>
                            <option value="pedreiro">Pedreiro</option>
                            <option value="bombeiro hidraulico">Bombeiro Hidráulico</option>
                            <option value="diarista">Diarista</option>
                            <option value="jardineiro">Jardineiro</option>
                            <option value="pintor">Pintor</option>
                            <option value="eletricista">Eletricista</option>
                          </select>
                          <p class="help-block text-danger"></p>
                        </div>
                      </div>
                      <div class="control-group">
                          <div class="form-group floating-label-form-group controls">
                            <label>Telefone</label>
                            <input class="form-control" name="telefone" id="ptelefone" type="text" placeholder="Telefone" required data-validation-required-message="Por favor digite seu telefone.">
                            <p class="help-block text-danger"></p>
                          </div>
                        </div>
                      <div class="control-group">
                          <div class="form-group floating-label-form-group controls">
                            <label>CEP</label>
                            <input class="form-control" onchange="pesquisaCep();" name="cep" id="pcep" type="text" placeholder="CEP" required data-validation-required-message="Por favor digite seu CEP.">
                            <p class="help-block text-danger"></p>
                          </div>
                        </div>
                      <div class="control-group">
                          <div class="form-group floating-label-form-group controls">
                            <label>Endereço</label>
                            <input class="form-control" name="endereco" id="pendereco" type="text" placeholder="Endereço" required data-validation-required-message="Por favor digite seu endereço.">
                            <p class="help-block text-danger"></p>
                          </div>
                        </div>
                      <div class="control-group">
                          <div class="form-group floating-label-form-group controls">
                            <label>Número</label>
                            <input class="form-control" name="numero" id="pnumero" type="text" placeholder="Número" required data-validation-required-message="Por favor digite o número de sua residência.">
                            <p class="help-block text-danger"></p>
                          </div>
                        </div>
                      <div class="control-group">
                          <div class="form-group floating-label-form-group controls">
                            <label>Bairro</label>
                            <input class="form-control" name="bairro" id="pbairro" type="text" placeholder="Bairro" required data-validation-required-message="Por favor digite o seu bairro.">
                            <p class="help-block text-danger"></p>
                          </div>
                        </div>
                      <div class="control-group">
                          <div class="form-group floating-label-form-group controls">
                            <label>Cidade</label>
                            <input class="form-control" name="cidade" id="pcidade" type="text" placeholder="Cidade" required data-validation-required-message="Por favor digite sua cidade.">
                            <p class="help-block text-danger"></p>
                          </div>
                        </div>
                      <div class="control-group">
                          <div class="form-group floating-label-form-group controls">
                            <label>Estado</label>
                            <input class="form-control" name="uf" id="puf" type="text" placeholder="Estado" required data-validation-required-message="Por favor digite o seu estado.">
                            <p class="help-block text-danger"></p>
                          </div>
                        </div>
                    <div class="control-group">
                      <div class="form-group floating-label-form-group controls">
                        <label>Email</label>
                        <input class="form-control" id="pemail" type="email" placeholder="Email" required data-validation-required-message="Por favor entre com um email.">
                        <p class="help-block text-danger"></p>
                      </div>
                    </div>
                    <div class="control-group">
                      <div class="form-group floating-label-form-group controls">
                        <label>Senha</label>
                        <input class="form-control" id="psenha" type="password" placeholder="Senha" required data-validation-required-message="Por favor entre com uma senha.">
                        <p class="help-block text-danger"></p>
                      </div>
                    </div>
                    <div class="control-group">
                      <div class="form-group floating-label-form-group controls">
                        <label>Confirme Senha</label>
                        <input class="form-control" id="pconfirm-senha" type="password" placeholder="Confirme a senha" required data-validation-required-message="Por favor confirme sua senha.">
                        <p class="help-block text-danger"></p>
                      </div>
                    </div>
                    <br>
                    <div id="success"></div>
                    <div class="form-group">
                      <button type="submit" class="btn btn-success btn-lg" id="sendMessageButton">Cadastrar</button>
                    </div>
                  </form>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Footer -->
    <footer class="text-center">
      <div class="footer-above">
        <div class="container">
          <div class="row">
            <div class="footer-col col-md-4">
              <h3></h3>
              <p>
                <br></p>
            </div> 
            <!--  <div class="footer-col col-md-4">
              <h3>Around the Web</h3>
              <ul class="list-inline">
                <li class="list-inline-item">
                  <a class="btn-social btn-outline" href="#">
                    <i class="fa fa-fw fa-facebook"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a class="btn-social btn-outline" href="#">
                    <i class="fa fa-fw fa-google-plus"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a class="btn-social btn-outline" href="#">
                    <i class="fa fa-fw fa-twitter"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a class="btn-social btn-outline" href="#">
                    <i class="fa fa-fw fa-linkedin"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a class="btn-social btn-outline" href="#">
                    <i class="fa fa-fw fa-dribbble"></i>
                  </a>
                </li>
              </ul>
            </div> -->
            <div class="footer-col col-md-4">
              <h3>Sobre HomeWorker</h3>
              <p>HomeWorker é um trabalho interdisciplinar do curso de Engenharia de Software da
                <a href="http://www.pucminas.br">Puc Minas</a>.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-below">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              Copyright &copy; HomeWorker 2017
            </div>
          </div>
        </div>
      </div>
    </footer>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top d-lg-none">
      <a class="btn btn-primary js-scroll-trigger" href="#page-top">
        <i class="fa fa-chevron-up"></i>
      </a>
    </div>

    <!-- portfolio Modals -->
    <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
            <div class="lr">
              <div class="rl"></div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-lg-8 mx-auto">
                <div class="modal-body">
                  <h2>Project Title</h2>
                  <hr class="star-primary">
                  <img class="img-fluid img-centered" src="img/portfolio/cabin.png" alt="">
                  <p>Use this area of the page to describe your project. The icon above is part of a free icon set by
                    <a href="https://sellfy.com/p/8Q9P/jV3VZ/">Flat Icons</a>. On their website, you can download their free set with 16 icons, or you can purchase the entire set with 146 icons for only $12!</p>
                  <ul class="list-inline item-details">
                    <li>Client:
                      <strong>
                        <a href="http://startbootstrap.com">Start Bootstrap</a>
                      </strong>
                    </li>
                    <li>Date:
                      <strong>
                        <a href="http://startbootstrap.com">April 2014</a>
                      </strong>
                    </li>
                    <li>Service:
                      <strong>
                        <a href="http://startbootstrap.com">Web Development</a>
                      </strong>
                    </li>
                  </ul>
                  <button class="btn btn-success" type="button" data-dismiss="modal">
                    <i class="fa fa-times"></i>
                    Close</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
            <div class="lr">
              <div class="rl"></div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-lg-8 mx-auto">
                <div class="modal-body">
                  <h2>Project Title</h2>
                  <hr class="star-primary">
                  <img class="img-fluid img-centered" src="img/portfolio/cake.png" alt="">
                  <p>Use this area of the page to describe your project. The icon above is part of a free icon set by
                    <a href="https://sellfy.com/p/8Q9P/jV3VZ/">Flat Icons</a>. On their website, you can download their free set with 16 icons, or you can purchase the entire set with 146 icons for only $12!</p>
                  <ul class="list-inline item-details">
                    <li>Client:
                      <strong>
                        <a href="http://startbootstrap.com">Start Bootstrap</a>
                      </strong>
                    </li>
                    <li>Date:
                      <strong>
                        <a href="http://startbootstrap.com">April 2014</a>
                      </strong>
                    </li>
                    <li>Service:
                      <strong>
                        <a href="http://startbootstrap.com">Web Development</a>
                      </strong>
                    </li>
                  </ul>
                  <button class="btn btn-success" type="button" data-dismiss="modal">
                    <i class="fa fa-times"></i>
                    Close</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
            <div class="lr">
              <div class="rl"></div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-lg-8 mx-auto">
                <div class="modal-body">
                  <h2>Project Title</h2>
                  <hr class="star-primary">
                  <img class="img-fluid img-centered" src="img/portfolio/circus.png" alt="">
                  <p>Use this area of the page to describe your project. The icon above is part of a free icon set by
                    <a href="https://sellfy.com/p/8Q9P/jV3VZ/">Flat Icons</a>. On their website, you can download their free set with 16 icons, or you can purchase the entire set with 146 icons for only $12!</p>
                  <ul class="list-inline item-details">
                    <li>Client:
                      <strong>
                        <a href="http://startbootstrap.com">Start Bootstrap</a>
                      </strong>
                    </li>
                    <li>Date:
                      <strong>
                        <a href="http://startbootstrap.com">April 2014</a>
                      </strong>
                    </li>
                    <li>Service:
                      <strong>
                        <a href="http://startbootstrap.com">Web Development</a>
                      </strong>
                    </li>
                  </ul>
                  <button class="btn btn-success" type="button" data-dismiss="modal">
                    <i class="fa fa-times"></i>
                    Close</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
            <div class="lr">
              <div class="rl"></div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-lg-8 mx-auto">
                <div class="modal-body">
                  <h2>Project Title</h2>
                  <hr class="star-primary">
                  <img class="img-fluid img-centered" src="img/portfolio/game.png" alt="">
                  <p>Use this area of the page to describe your project. The icon above is part of a free icon set by
                    <a href="https://sellfy.com/p/8Q9P/jV3VZ/">Flat Icons</a>. On their website, you can download their free set with 16 icons, or you can purchase the entire set with 146 icons for only $12!</p>
                  <ul class="list-inline item-details">
                    <li>Client:
                      <strong>
                        <a href="http://startbootstrap.com">Start Bootstrap</a>
                      </strong>
                    </li>
                    <li>Date:
                      <strong>
                        <a href="http://startbootstrap.com">April 2014</a>
                      </strong>
                    </li>
                    <li>Service:
                      <strong>
                        <a href="http://startbootstrap.com">Web Development</a>
                      </strong>
                    </li>
                  </ul>
                  <button class="btn btn-success" type="button" data-dismiss="modal">
                    <i class="fa fa-times"></i>
                    Close</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
            <div class="lr">
              <div class="rl"></div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-lg-8 mx-auto">
                <div class="modal-body">
                  <h2>Project Title</h2>
                  <hr class="star-primary">
                  <img class="img-fluid img-centered" src="img/portfolio/safe.png" alt="">
                  <p>Use this area of the page to describe your project. The icon above is part of a free icon set by
                    <a href="https://sellfy.com/p/8Q9P/jV3VZ/">Flat Icons</a>. On their website, you can download their free set with 16 icons, or you can purchase the entire set with 146 icons for only $12!</p>
                  <ul class="list-inline item-details">
                    <li>Client:
                      <strong>
                        <a href="http://startbootstrap.com">Start Bootstrap</a>
                      </strong>
                    </li>
                    <li>Date:
                      <strong>
                        <a href="http://startbootstrap.com">April 2014</a>
                      </strong>
                    </li>
                    <li>Service:
                      <strong>
                        <a href="http://startbootstrap.com">Web Development</a>
                      </strong>
                    </li>
                  </ul>
                  <button class="btn btn-success" type="button" data-dismiss="modal">
                    <i class="fa fa-times"></i>
                    Close</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
            <div class="lr">
              <div class="rl"></div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-lg-8 mx-auto">
                <div class="modal-body">
                  <h2>Project Title</h2>
                  <hr class="star-primary">
                  <img class="img-fluid img-centered" src="img/portfolio/submarine.png" alt="">
                  <p>Use this area of the page to describe your project. The icon above is part of a free icon set by
                    <a href="https://sellfy.com/p/8Q9P/jV3VZ/">Flat Icons</a>. On their website, you can download their free set with 16 icons, or you can purchase the entire set with 146 icons for only $12!</p>
                  <ul class="list-inline item-details">
                    <li>Client:
                      <strong>
                        <a href="http://startbootstrap.com">Start Bootstrap</a>
                      </strong>
                    </li>
                    <li>Date:
                      <strong>
                        <a href="http://startbootstrap.com">April 2014</a>
                      </strong>
                    </li>
                    <li>Service:
                      <strong>
                        <a href="http://startbootstrap.com">Web Development</a>
                      </strong>
                    </li>
                  </ul>
                  <button class="btn btn-success" type="button" data-dismiss="modal">
                    <i class="fa fa-times"></i>
                    Close</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Contato Form JavaScript -->
    <script src="js/jqBootstrapValidation.js"></script>
    <script src="js/Contact_me.js"></script>

    <!-- Custom scripts for this template -->
    <script src="js/freelancer.min.js"></script>

    <script src="js/localstorage.js"></script>

    <script src="js/scripts.js"></script>

  </body>

</html>
