<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>HomeWorker - Mapa</title>

        <!-- Bootstrap core CSS -->
        <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

        <!-- Custom fonts for this template -->
        <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

        <!-- Custom styles for this template -->
        <link href="css/freelancer.min.css" rel="stylesheet">
        <link rel="stylesheet" href="css/style2.css">

    </head>

    <body id="page-top" class="new-pages" style="background-color:#18BC9C" onload="lerParametro();divrecur();">
    
      <!-- Navigation -->
      <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
          <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="#page-top">HomeWorker</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
              Menu
              <i class="fa fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
              <ul class="navbar-nav ml-auto">
    
                <li class="nav-item">
                  <a class="nav-link js-scroll-trigger" href="index.html#portfolio">Profissionais</a>
                </li>
    
                <li class="nav-item">
                  <a class="nav-link js-scroll-trigger" href="maps.html#sobre">Mapa</a>
                </li>
    
                <li class="nav-item">
                  <a class="nav-link js-scroll-trigger" href="index.html#Contato">Cadastro</a>
                </li>
    
                <li class="nav-item">
                    <div class="dropdown">
                      <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">LOGIN
                        <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu" id="login-dropdown">  
                        <div class="control-group">
                          <li class="dropdown-header">Email
                          </li>
                          <input class="form-control" id="email" type="email" placeholder="Email" required data-validation-required-message="Por favor entre com seu email.">
                          <p class="help-block text-danger">
                          </p>                      
                          <li class="dropdown-header">Senha
                          </li>
                          <input class="form-control" id="phone" type="password" placeholder="Senha" required data-validation-required-message="Por favor entre com sua senha.">
                          <p class="help-block text-danger">
                          </p>
                      </ul>
                    </div>
                  </li>
              </ul>       
            </div>
          </div>
      </nav>
      
      <!--<div id="dfiltro" class="row filtro">
        
            <div class="col-md-1"></div>
            <div class="col-md-6"><input class="form-control" type="text" name="" id="prof" ></div>
            <div class="col-md-5"></div>
        
        
          <div class="col-md-1"></div>
          <div class="col-md-6"><input class="form-control" type="text" name="" id="regiao" ></div>
          <div class="col-md-5"></div>
        
        
          <div class="col-md-1"></div>
          <div class="col-md-4"><button class="btn btn-primary" onclick="lerFiltro();">Buscar</button></div>         
        
        
      </div>-->
      <div id="dfiltro" class="container filtro">
        <div class="row">
          <div class="col-lg-3 col-md-4 col-sm-6">
            <!--<input class="form-control" type="text" name="" id="prof" >-->
            <select class="form-control" name="prof" id="prof">
              <option value="">---Buscar Todos---</option>
              <option value="pedreiro">Pedreiro</option>
              <option value="bombeiro hidraulico">Bombeiro Hidráulico</option>
              <option value="diarista">Diarista</option>
              <option value="jardineiro">Jardineiro</option>
              <option value="pintor">Pintor</option>
              <option value="eletricista">Eletricista</option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-3 col-md-4 col-sm-6">
            <input class="form-control" type="text" name="" id="regiao" placeholder="Região" >
          </div>
        </div>
        <div class="row">
          <div class="col-lg-2 col-md-3">
            <button class="btn btn-primary" onclick="lerFiltro();">Buscar</button>
          </div>
        </div>
      </div>
      
      
      <!--Mapa-->
      <div class="container-fluid" id="sobre">
        <div class="row">
          <div class="col-md-12 col-lg-12" id="mapa" style="height: 900px"></div>
        </div>
      </div>


      <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
      <div class="scroll-top d-lg-none">
        <a class="btn btn-primary js-scroll-trigger" href="#page-top">
          <i class="fa fa-chevron-up"></i>
        </a>
      </div>

      <!--Mapa-->
      <script src="js/jquery-3.2.1.min.js"></script>


      
      <!-- Maps API Javascript -->
      <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCv5-n9oUWXvcd-MQz2XiqEGLYtFR8oOdo"></script>
      <!--&callback=initMap-->
      <!-- Caixa de informação -->
      <script src="js/infobox.js"></script>

      <!-- Agrupamento dos marcadores -->
      <script src="js/markerclusterer.js"></script>
      
      <!-- Arquivo de inicialização do mapa -->
      <script src="js/mapa.js"></script>
      
      <!--Fim Mapa-->

      
      <!-- Bootstrap core JavaScript -->
      <script src="vendor/jquery/jquery.min.js"></script>
      <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

      <!-- Plugin JavaScript -->
      <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

      <!-- Contato Form JavaScript -->
      <script src="js/jqBootstrapValidation.js"></script>
      <script src="js/Contact_me.js"></script>

      <!-- Custom scripts for this template -->
      <script src="js/freelancer.min.js"></script>

      <script src="js/localstorage.js"></script>
      <script src="js/scripts.js"></script>

  </body>

</html>