@charset "UTF-8";


#corpo{
	/*width: 50%;*/
	/*margin-top: 100px;
	text-align: center;*/
	padding: 0px 25px;
	min-width: 250px;
}

.foto-perfil {
	width: 250px;
	height: 250px;
	border: 1px solid black;
	display: inline-block;
}

.stars {
	width: 100px;
	border: 1px solid black;
}

.p-dados p {
	margin: 10px;
	font-weight: bold;
}

.p-dados span {
	font-weight: normal;
}

.info {
	
}