@charset "UTF-8";

label.sexo {
    color: #495057;
    font-size: 1.5em;
    opacity: 1;
    z-index: 1;
    position: static;
    display: inline-block;
    opacity: 0.75;  
    margin-right: 5px;
    margin-top: 30px;
}

input.sexo {
    position: initial;
    resize: initial;
    margin-right: 20px;
}

input#pdate {
    color: #495057;
    opacity: 0.75;
}

div#dfiltro {
    position: fixed;
 }

div#map {
    position: fixed;
}

.clear { 
    clear: both;
}